/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:14px/1.5 \5fae\8f6f\96c5\9ed1,\5b8b\4f53,arial;}
#xgd,#xgk .xki p i, #xgk .xki p a,#shareto,#recomc li,#recomc2 li,.showDinNum, #showCaiNum,dl #hotsoft dd p{font-size: 12px;}
fieldset,img{border:0;}ol,ul{list-style:none;}:focus{outline:0;}s,u{text-decoration:none;}
.none,legend{display:none;}
html{overflow-x:hidden;overflow-y:auto;}
body{color:#666;background:#fff;width:100%;overflow:hidden;}
a{text-decoration:none;color:#666;}a:hover{text-decoration:underline;color:#ff5800;}a:active{outline:none;}a span,a:hover span{cursor:pointer;}
.clearfix:before,.clearfix:after,#xgd ul:before,#xgd ul:after,#topNav:before,#topNav:after,#catalog ul:before,#catalog ul:after,.side-box ul:before,.side-box ul:after,#mtab:before,#mtab:after,#xgb li:before,#xgb li:after,#main:before,#main:after,#recomc ul:before,#recomc ul:after,#recomc2 ul:before,#recomc2 ul:after,#gzwm dd p:before,#gzwm dd p:after,#xgw1 ul:before,#xgw1 ul:after{content:".";display:block;height:0;visibility:hidden;font-size:0;}
.clearfix:after,#xgd ul:after,#topNav:after,#catalog ul:after,.side-box ul:after,#mtab:after,#xgb li:after,#param-box:after,#main:after,#recomc ul:after,#recomc2 ul:after,#gzwm dd p:after,#xgw1 ul:after{clear:both;}
.clearfix,#topNav,#catalog ul,.side-box ul,#mtab,#xgb li,#main,#recomc ul,#recomc2 ul,#recomc2 ul,#gzwm dd p,#xgw1 ul,#xgd{*zoom:1;}
#topNav,#footer,#page,#container{width:1200px;display:block;margin:0 auto;clear:both;}
#footer{padding-top:15px;text-align:center;}#footer p{margin:5px;}
.bluea a,.bluea a:link,.bluea a:visited{color:#0984C5;}
.bluea a:hover{text-decoration:none;color:#ff5800;cursor:pointer;}
.bluea a:active{color:#666;}
.fl{float:left;display:inline;}.fr{float:right;display:inline;}.mt10{margin-top:10px;}.mt5{margin-top:5px;}.pt10{padding-top:10px;}.pb10{padding-bottom:10px;}.tl{text-align:left;}.tr{text-align:right;}.pr{position:relative;}.pa{position:absolute;}.f14{font-size:10px;}.yahei, h2, h3, h4 {font-family:\5fae\8f6f\96c5\9ed1,arial;}

#page{ position:relative;}
#topNavC{height:31px;line-height:31px;background:#f5f5f5;border-bottom:1px solid #e3e3e3;}#topNav i{float:right;color:#bbb;font-style:normal;}#topNav strong{font-weight:normal;color:#666;float:left;}
#topNav i a{margin:0 10px;}#topNav a.focus{color:#289613;}#topNav a.focus:hover{color:#ff5800;}
#header{position:relative;height:auto;z-index:999999;}#logo{display:block;height:66px;width:170px;overflow:hidden;padding:20px 0 2px 0;left:0;top:0;position:relative;z-index:0;}
#nav{position:relative;height:40px;background:#3fb118;overflow:hidden;}#nav span a{height:40px;line-height:40px;overflow:hidden;float:left;display:inline;margin-right:1px;font-size:14px;color:#fff;display:block;padding:0 23px;position:static;}#nav span a.nav-cur,#nav span a.nav-cur:hover{background:#289613;}#nav span a:hover{background:#65c147;text-decoration:none;color:#fff;}#nav a{font-size:12px;position:absolute;right:12px;top:12px;color:#ff0;}#nav a:hover{text-decoration:underline;background:#3fb118;color:#ff0;}
#subNav{height:35px;background:#f5f5f5;}#subNav i{font-style:normal;height:35px;line-height:35px;overflow:hidden;float:left;padding:0 10px;margin-left:10px;}#subNav i.on{background:url(../images/subnavOn1.gif) no-repeat center 7px;}
#search{width:534px;height:38px;position:absolute;right:0;top:18px;z-index:9;}#searchbox,#searchBox{float:left;display:inline;width:385px;height:26px;line-height:26px;overflow:hidden;padding:4px 69px 4px 5px;background:#fff;border:2px solid #40b019;border-right:0 none;font-size:14px;color:#333;}#searchBtn{float:left;width:72px;height:38px;border:0 none;cursor:pointer;background:#3fb019;color:#fff;font-size:14px;}#ssfl{position:absolute;left:386px;top:2px;width:75px;text-indent:7px;background:#fcfcfc;z-index:9;}#ssfl b{display:block;width:73px;height:34px;line-height:34px;border-left:1px solid #ddd;background:url(../images/syspr14.gif) 25px -64px no-repeat;font-weight:normal;cursor:pointer;}#ssfl span{display:block;border:1px solid #eee;border-top:0 none;}#ssfl span i{display:block;font-style:normal;line-height:25px;cursor:pointer;}#ssfl span i.hover{background:#93CE7A;color:#fff;}#ssk{position:absolute;top:44px;left:0;z-index:1;}#ssk a{padding-right:10px;}
/*bdsearch*/
#bdcs-search-form-input{float:left;display:inline;width:385px;height:20px;line-height:20px;overflow:hidden;padding:7px 69px 7px 5px;background:#fff;border:2px solid #40b019;border-right:0 none;font-size:14px;color:#333;}
#bdcs-search-form-submit{float:left;width:72px;height:38px;border:0 none;cursor:pointer;background:#3fb019;color:#fff;font-size:14px;}
.bdcs-hot{width:500px;height:30px;line-height:30px;overflow:hidden;position:absolute;top:37px;left:0;z-index:-1;}.bdcs-hot-item{margin-right:10px;padding-right:7px;color:#666;}.bdcs-hot-item:hover{color:#ff5800;}
.red{color:red;}

#header{margin-bottom:5px;}
#fast-nav{margin:5px 0;line-height:30px;height:30px;}
#param{width:1198px;/* overflow:hidden; */margin-bottom:10px;position:relative;border:1px solid #ddd;padding-bottom: 5px;min-height: 320px;}
#param #main{text-indent:15px;height:50px;padding-top:2px;}
#param .box-bottom {height:5px;overflow:hidden;clear:both;}
#param #main h1{padding-bottom:4px;position:relative;border-bottom:1px solid #c7e6bf;margin:0 1px;font:bold 16px/42px \5B8B\4F53,Arial;color:#093;}
#main h1 span{margin-left:2px;font:bold 16px/42px \5B8B\4F53,Arial;color:#093;padding:3px 0 3px 5px;}
#main h1 a{position:absolute;top:0px;*top:-13px;right:2px;text-indent:-1000px;width:143px;margin:3px 10px 0 0;height:35px;background:url(../images/xzrjBtn.png) 0px -35px no-repeat;overflow:hidden;}
#main h1 a:hover{background-position:0px 0px;}

#param #main span{
    padding-bottom: 4px;
    position: relative;
    text-indent: 8px;
    margin: 0 1px;
    font: bold 16px/42px \5B8B\4F53,Arial;
    color: #093;
    display: inline;
    border-bottom: none;
    float: left;
}


#param #main.new,#param #main.new2{height:42px;padding-bottom:1px;border-bottom:0px solid #ddd;background:#f5f5f5;position:relative;z-index:2;}
#param #main.new h1{display:inline;border-bottom:none;height:16px;position:relative;top:2px;top:-4px\9;_top:-2px;}
#param #main.new p{display:inline;border-left:1px solid #ccc;margin-left:12px;font-weight:normal;color:#999;font-size:12px;padding:3px 0 3px 5px;height:16px;position:relative;top:2px;top:-4px\9;_top:-2px;}
#param #main.new a{/*position:absolute;top:8px;right:2px;margin:3px 10px 0 0;*/text-indent:-1000px;width:143px;height:35px;background:url(../images/xzrjBtn.png) 0px -35px no-repeat;overflow:hidden;display:inline-block;position:relative;left:8px;top:-10px;top:1px\9;_top:5px;}
#param #main.new a:hover{background-position:0px 0px;}
@-moz-document url-prefix(){ #param #main.new a{top:4px;}} 
@-moz-document url-prefix(){ #param #main.new h1,#param #main.new p{top:-5px;}} 
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) 
{#param #main.new a{top:4px;}} 
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) 
{ #param #main.new h1,#param #main.new p{top:-5px;}} 

#param #main.new2 h1{display:inline;border-bottom:none;float:left;}
#param #main.new2 p{display:inline;float:left;border-left:1px solid #ccc;margin-left:8px;text-indent:8px;color:#999;font-weight:normal;color:#555;font-size:12px;padding:3px 0;margin-top:10px;height: 18px;}
#param #main.new2 i{float:left;/* margin-left:5px; */padding:5px 0;}
#param #main.new2 a.corg{padding-left:8px;color:#333;font-weight:bold;float:left;}
#param #main.new2 a.corg:hover{color:#FF5800;text-decoration:none;}
#param #main.new2 .mver{float:left;display:inline;position:relative;padding:0;width:65px;height:20px;border-radius:2px;border:1px solid #eee;text-indent:12px;margin-top:11px;}#param #main.new2 .hover{border-bottom:none;}#main.new2 .mver b{font-weight:normal;display:block;height:20px;line-height:20px;cursor:pointer;background:#fff url(../images/mver.gif) 0 -50px no-repeat;width:58px;padding-left:7px;position:relative;z-index:2;}#main.new2 p.hover b{background-position:0 0;}#main.new2 .mver span{display:none;position:absolute;left:-1px;top:-1px;width:265px;background:#fff;border:1px solid #eee;}#main.new2 p.hover span{display:block;position:relative;z-index:1;}#main.new2 .mver span i{font-style:normal;display:block;line-height:22px;text-indent:5px;}#main.new2 .mver span i a{display:block;}#main.new2 .mver span i a:hover{background:#3fb118;color:#fff;text-decoration:none;}

#samesoft{float:left;width:300px;padding-right:25px;height:258px;overflow:hidden;border-right:0px solid #eee;margin-top: 5px;margin-bottom: 8px;}
#samesoft h2{color:#333;padding-left:17px;font-size:14px;font-weight:bold;}
#samesoft .icon-list-p li {margin-top:7px;padding-bottom:5px;padding-left:3px;}

#samesoft.newss h2{width:275px;padding-left:5px;height:26px;line-height:26px;background-color:#f3faf3;color:#339e12;}
#samesoft.newss ul{width:268px;line-height:25px;padding:1px 6px 6px 6px;margin-bottom:4px;}
#samesoft.newss li{border-bottom:1px dashed #ddd;width:268px;overflow:hidden;white-space:nowrap;}
#samesoft.newss li a {color:#2A78B4;width:258px;overflow:hidden;white-space:normal;word-wrap:normal;line-height:25px;height:25px;}
#samesoft.newss li a:hover{color:#FF5800;}
#samesoft.newss li span{color:#999;}
#samesoft.newss a.downnow{width:240px;height:78px;background:url(../images/ndbtn.gif) 0 0 no-repeat;display:inline-block;position:relative;left:24px;top:5px;}
#samesoft.newss a.downnow em{position:absolute;left:164px;top:16px;color:#930;font-weight:bold;font-style:normal;}
#samesoft.newss a.downnow span{position:absolute;left:193px;top:0px;color:#fff;}
#samesoft.newss a.downnow:hover{background-position:0px -80px;text-decoration:none;color:#333}
#samesoft .txtad{padding:3px 0 0 25px;+padding:0px 0 0 25px;}
#samesoft .txtad a{color:#2A78B4;}
#samesoft .txtad a:hover{color:#FF5800;}
#samesoft .txtad span{display:inline-block;padding:0 7px;color:#bbb;}

#param-box {width:1198px;padding: 12px 0 0 0!important;padding:12px 0 2px 0;/* overflow:hidden; */}
#param-content{margin-left:4px;position:relative;background:none;padding-right:2px;width:555px;min-height: 250px;float:left;display:inline;}
#param-content .pljt{position:absolute;top:166px;left:8px;width:550px;height:33px;font-size:14px;}
#param-content .pljt a{width:150px;height:33px;text-indent:40px;display:block;line-height:33px;margin-right:9px;float:left;cursor:pointer;}
#param-content .pljt a:hover,#param-content #addcollect:hover{color:#f60;text-decoration:none;}
#param-content #seePl{background:url(../images/detail1.gif) no-repeat 0 -30px;}
#param-content #seeJt{background:url(../images/detail1.gif) no-repeat 0 -70px;}
#param-content #addcollect{background:url(../images/detail1.gif) no-repeat 0 -111px;}
.param-ul{margin-top: -2px;border:none;width:568px;overflow:hidden;}
.param-ul li {height: 29px;line-height: 29px;float:left;width:300px;margin-left:10px;_display:inline;clear:both;color: #909090;}
.param-ul li.r {width:210px;clear:none;overflow: hidden;}
.param-ul .fullsize {width:300px;overflow:hidden;height:25px;}
.param-ul li.r img{position:relative;top:3px;}
.param-ul li span{color:#333;}
/*
#param-content .gw{position:relative;padding-right:15px;width:308;height:25px;}
#param-content .gw span{position:absolute;left:70px;top:0;width:255px;height:25px;overflow:hidden;}
#param-content .gw span{background:url(../images/outlink.png) right center no-repeat;} */
#pingfen{padding-left:7px;margin-top:10px;width:550px;overflow:visible;float:left;height:30px;}
#shareto {padding:0px 0 5px 0;clear:both;width:550px;height:40px;margin:1px 0 10px;overflow:visible;}
#pingfen .star_l{float:left;}
#pingfen .star_l img {vertical-align:middle;float:left;width:160px;height:28px;}
#pingfen .star_r {width:120px;padding-left:10px;font-size:12px;color:#666;overflow:hidden;margin-top:-28px;position:relative;float:left;text-indent:5px;}
#pingfen .star_r #decimal_unm {font:36px/80px arial;color:#F60;}
#shareto{overflow:visible;}
#pingjia{margin-top:5px;}
#pingjia a#showding,#pingjia a#showcai{cursor:pointer;float:left;margin-left:20px;width:160px;height:42px;_display:inline;background:url(../images/PingJia.gif) no-repeat;_margin-top:-12px;}
#pingjia a#showding{margin-left:0px;}
#pingjia a#showding:hover{background:url(../images/PingJia.gif) no-repeat 0 -86px;text-decoration:none;}
#pingjia a#showcai{background:url(../images/PingJia.gif) no-repeat 0 -43px;}
#pingjia a#showcai:hover{cursor:pointer;background:url(../images/PingJia.gif) no-repeat 0 -129px;text-decoration:none;}
.showDingText {text-indent:30px;margin-top:5px;}
.showCaiText {margin-left:25px;}
#showDin,#showc{display:block;height:5px;width:50px;border:1px solid #FBA519;line-height:5px;margin:5px 5px 0 0;float:left;overflow:hidden;}
#showDin span,#showc span {line-height:5px;display:block;height:5px;background:url(../images/loadingbg.png) repeat-x;width:10%;}
.showDinNum,#showCaiNum{float:left;}
#showc {border:1px solid #19A2C0;margin:5px 5px 0 0;	}
#showc span {background:url(../images/loadingbg.png) repeat-x 0 -5px;}
.wrap970 {position:relative;}
#content {width:890px;float:left;_overflow:hidden;}
#sidebar {width:305px;float:right;}

#mtab{border-top:1px solid #ddd;border-right:1px solid #ddd;background:#f7f7f7 url(../images/ddd.gif) left 39px repeat-x;color:#222;}#mtab span{width:128px;height:40px;line-height:40px;float:left;border-left:1px solid #ddd;text-align:center;font-size:16px;font-family:\5fae\8f6f\96c5\9ed1,arial;cursor:pointer;}#mtab .cur{position:relative;border-top:3px solid #3fb118;margin-top:-6px;background:#fff;height:43px;left:1px;border-right:1px solid #ddd;color:#093;}#mtab .first{left:0;}#content dt.zban span{width:107px;}

#content .fixed,#fixbg{position:fixed;z-index:99999;top:5px;width:1199px;}* html #content .fixed,* html #fixbg{position:absolute;top:expression(documentElement.scrollTop -documentElement.clientHeight + "px")}#fixbg{z-index:9999;top:0px;width:960px;background:#fff;height:5px;}


#search.search_fixed{width:260px;height:26px;line-height:26px;position:fixed;top:10px;left:50%;margin-left:326px;}
#search.search_fixed #bdcs-search-form-input{width:200px;padding:3px 0 3px 5px;}
#search.search_fixed  #bdcs-search-form-submit{width:50px;height:30px;ine-height:30px;}
#search.search_fixed  .bdcs-hot{display:none;}
#content dt.zban span.down-btn{width:85px;padding-left:22px;}
.down-btn,#mtab .down-btn.cur{background:url(../images/down_btn_bg.jpg) no-repeat 10px 12px #3fb019;color:#fff;margin:0;height:40px;border-top:0;}

.tagsk{clear:both;height:auto;padding:8px 0 8px 20px;line-height:26px;background:#fff;border-left:1px solid #ddd;}
#content .fixed .tagsk{height:24px;border-bottom:1px solid #ddd;overflow:hidden;}
.tagsk b{display:block;float:left;margin-right:5px;padding-left:12px;border-left:3px solid #3fb018;font-weight:normal;}
.tagsk a{color:#0984C5;margin-right:10px;text-decoration:underline;display:inline-block;}
.tagsk a:hover{color:#f60;}

.cbox{border:1px solid #ddd;border-top-width:2px;margin:10px 0 0 0;}
.cbox .title{height:36px;line-height:36px;background:url(../images/syspr14.gif) -20px -147px no-repeat;padding-left:18px;font-size:16px;font-family:\5fae\8f6f\96c5\9ed1,arial;}.cbox .title b{font-weight: bold;display:inline-block;position:relative;left:-18px;padding:0 15px 0 32px;border-top:2px solid #3fb118;top:-2px;color:#222;}
#soft-info{width:888px;overflow:hidden;margin:5px 0;border-top:none;}
#soft-info .title h2{float:left;font-size:16px;line-height:28px;color:#000;padding:0 40px 0 15px;border-bottom:1px solid #3fb018;font-weight:normal;position:relative;bottom:-1px;}
#gotocmt{ padding-top:7px;float:right;}
#gotocmt a {font:12px/1.5 \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;}
#soft-info,#soft-info .title{margin-top:0;}
#soft-info .main-bq{clear:both;}

.main-info{padding:0 20px 10px 20px;}
#soft-intro{font-size:14px;width:100%;line-height:21px;}
#soft-intro .introTit{background:url(../images/ddd.gif) left center repeat-x;font-size:16px;font-family:\5b8b\4f53,arial;text-indent:0px;margin:10px 0;color:#333;position:relative;/*left:-14px;width:610px;padding-left:25px;*/line-height:24px;}#soft-intro .introTit span{background:#fff;padding:0 10px 0 0px;font-weight:bold;font-family:\5fae\8f6f\96c5\9ed1,arial;}#soft-intro .introTit i{position:absolute;top:0;left:0;font-style:normal;display:block;width:25px;height:24px;line-height:24px;font-size:16px;background:#3fb118;color:#fff;text-align:center;border-radius:0 2px 2px 0;}
#soft-intro .introTit strong,#soft-intro .introTit b{padding:0 10px 0 5px;border-bottom:2px solid #3fb118;display:inline-block;position:relative;bottom:-2px;font-weight:normal;}
#soft-intro p{margin-bottom:10px;line-height:24px;clear:both;}
#soft-intro a{color:#0984C5;}
#soft-intro a:hover{color:#f60;}
.soft-intro p img{display:block;}
#soft-intro h3 {
	font-weight:bold;
	padding-left:10px;
	color:#41B80F;
	line-height:28px;
	border-left:3px solid #3fb018;
	border-bottom:1px solid #3fb018;
	margin-bottom:10px;
}
#soft-info .content {width:100%;overflow:hidden;background-color:white;padding-bottom:5px;}
#soft-intro .xgDown{border:1px solid #e3e3e3;margin:10px auto;border-radius: 5px;box-shadow: 0 0 5px #efefef;}
#soft-intro .xgDown .tit{border-bottom: 0px solid #e3e3e3;height: 40px;background: #fbfbfb;}
#soft-intro .xgDown .tit h2{height: 38px;line-height: 38px;overflow: hidden;font-size: 14px;color: #45B822;float: left;padding: 0 10px;}
#soft-intro .xgDown .content .fl,
#soft-intro .xgDown .content .fr{ display:inline; float:left;}
#soft-intro .xgDown .content .fl{ padding:12px 12px 0 12px; height:1%; overflow:hidden;}
#soft-intro .xgDown .content .fl{ width:70px;}
#soft-intro .xgDown .content .fl img{ margin-bottom:10px;}
#soft-intro .xgDown .content .fl a{ display:block; text-align:center; margin:0 auto;width:51px; height:22px; overflow:hidden; color:#fff;background: #2BB866; }
#soft-intro .xgDown .content .fr{ width:735px; color:#999; margin-right:8px;}
#soft-intro .xgDown .content .fr dl dd{ display:inline; text-align: left; float:left; font-size:14px; width:365px; /*border-bottom:1px dotted #2F82FF;*/ border-bottom:1px dotted #ddd; padding:10px 0;overflow:hidden;line-height:25px;height:16px;}
#soft-intro .xgDown .content .fr dl dt{ line-height:150%; padding-top:5px;}
#soft-intro .xgDown .content .fr dl dd span{ color:#333; font-weight: bold;}
#soft-intro .xgDown .content .fr dl dd i{width: 26px;height: 25px;display: inline-block;vertical-align: middle;}
#soft-intro .xgDown .content .fr dl dd a{padding-left:5px; color:#45B822;}
#soft-intro .xgDown .content .fr dl .d_height{text-align: left;padding-top:5px;}



#btn-intro-wrap {width:60%;margin:15px auto;padding-top:9px;text-align:center;border-top:1px dashed #E0E0E0;}
#btn-intro {color:#090;cursor:pointer;text-decoration:none;font-size:14px;font-weight:bold;padding-right:18px;}
#btn-intro-wrap .show{background:url(../images/show.gif) no-repeat 63px 2px;}
#btn-intro-wrap .hide{background:url(../images/hide.gif) no-repeat 63px 2px;display:inline;}
.keyText{word-break:break-all;margin:0px;padding:34px 9px 4px;border:1px solid #f60;background:#FDFDDF url(../images/detail1.gif) no-repeat -80px -322px;color:#333;line-height:2.0;font-size:14px;clear:both;}
.keyText a{color:#0984C5;}
.keyText a:hover{color:#f60;}
.main-bq{border-top:1px solid #e7e7e7;padding:9px 14px 2px 14px;}
.soft-tag{padding:0 0 5px 0;}
.soft-tag strong{font-weight:normal;}
.soft-tag a{color:#090;}
.main-bq #bdshare{float:right;}
#download{position:relative;margin:10px 0 5px 0;border-top:none;}#download .title,#xgk .title{padding:0;background:none;border-top:1px solid #ddd;background:#f7f7f7 url(../images/ddd.gif) left bottom repeat-x;height:41px;line-height:40px;}
#download .title span,#xgk .title span{float:left;line-height:40px;height:40px;color:#222;padding:0 20px;font-weight:normal;font-size:16px;font-family:\5fae\8f6f\96c5\9ed1,arial;z-index:9;cursor:pointer;position:relative;bottom:-1px;border-right:1px solid #ddd;}
#download .title span.cur,#xgk .title span.cur{border-top:3px solid #3fb018;margin:0;position:relative;margin-top:-6px;background:#fff;color:#093;height:43px;}

#download ul.content{padding:14px 14px 4px 20px;background-color:white;position:relative;}
.address-wrap{width:360px;display:none;float:left;}#download .on{display:block;}
#download .address-wrap h3 {text-indent:0;font-size:15px;font-weight:bold;color:black;font-family:arial;clear:both;width:360px;}
#download .ul_Address{width:360px;/* height:110px; */padding-bottom:5px;}


.address-wrap .ul_Address { width:360px;}
.address_like {line-height:24px;}

.address-wrap { margin:10px 5px 0 5px; float: left; width:360px;}
.address-wrap ul { zoom:1; margin-bottom:5px;}

.address-wrap li {float:left;width:158px;display:inline;float:left;display:inline;margin:0 5px 8px 10px;background: url(../images/soft_dbtn.png) no-repeat;font-size: 14px;}
.address-wrap li.bdpan {background: url(../images/downbd.png) no-repeat;}
body .xiazaiqi{ background: none; margin-bottom: 15px; }
body .xiazaiqi a{display: block;width: 130px;height: 30px;line-height: 30px;color: #fff;text-indent: 32px;background: #f90 url(/skin/xiasihao/images/down-ico.png) no-repeat 6px center;border-radius: 4px;margin-left: 0;}
body .xiazaiqi a:hover { color: #fff; background-color: #f80; text-decoration: none!important}

.address_like a { color:#333; margin-left:26px;}
.address-wrap .xian { display:none;}

body .address-wrap .f-gsh3{margin: 5px 10px;font-size: 14px;background: none;background: none;color: #000;clear: both; margin-bottom: 10px;}
body .address-wrap .m-addline { border-top: 1px solid #eee;padding: 10px 0 0 0 ;}
.address-wrap h3{margin-bottom: 10px;}

#download ul li.kuaiche {width:76px;}
#download .ul_Address .thunder_li{background-position:-180px -80px;}
#download .ul_Address .xuanfeng{background-position:-180px -30px;}
#download .ul_Address .kuaiche{background-position:-180px -55px;}
#download .rela{width:310px;float:left;padding-top:5px;border-top:1px dashed #E0E0E0;}
#download .rela h2{text-indent:14px;padding:5px 0 3px 0;font-weight:bold;font-size:14px;}
#download ul.text-list-green{float:left;}
#download ul.text-list-green li{float:left;display:inline;width:295px;height:28px;line-height:28px;padding-left:15px;margin:0;background:url(../images/greenDot.gif) no-repeat 6px 13px; white-space:normal;font-size:14px;overflow:hidden;}
#download ul.text-list-green li a{color:#2F3A30;}
#download ul.text-list-green li a:hover{color:#ff5800;}
#download .pan_3 a,#download .pan_2 a,#download .pan_1 a,#download .pan_0 a{display:block;width:130px;background:url(../images/wpwz.png) 0 0 no-repeat;height:24px;line-height:24px;margin:5px 8px 0 0;}
#download .pan_2 a{background-position:0 -52px;}#download .pan_1 a{background-position:0 -26px;}#download .pan_0 a{background-position:0 -252px;}
#download .pan_3 a:hover{background-position:0 -76px;}#download .pan_2 a:hover{background-position:0 -128px;}#download .pan_1 a:hover{background-position:0 -102px;}#download .pan_0 a:hover{background-position:0 -276px;}
#user_ip{ position:absolute; top:11px; right:15px;}
.ad-download{ float:right;width:336px;}.ad-download p.ad-title{font-size:15px;height:15px;line-height:15px;font-weight:bold;color:#093;border-left:3px solid #093;margin-bottom:5px;padding-left:5px;}
.sendErr-wrap{ width:310px;padding:6px 5px; margin:10px;color:#999; border:1px dashed #e0e0e0;background:#fdfddf;}
#sendErr{ margin-right:5px; color:#090; text-decoration:underline; cursor:pointer;}
#sendErr:hover{ color:#f60;}
#writebug{ width:490px; height:90px; padding:2px 5px; overflow:auto; margin-bottom:5px;}
.closeSendErr{position:absolute;top:-5px; right:0; _right:18px; display:block; padding:0 5px; border:1px solid #e5e5e5; font-size:18px; line-height:24px; font-family:arial; color:#000; cursor:pointer;}
#sendErr-btn{background:#FBA605;color:#fff;border:0 none;padding:2px 3px;cursor:pointer;}
.tousu,.tiwen{ margin:0 5px;}
#download .ul_Address .ad-download{float:none;width:350px;height:340px;position:absolute;top:20px;left:290px;overflow:hidden;background:none;}
.opinfo{position:relative;height:48px;overflow:hidden;margin-bottom:10px;}.opinfo img{width:48px;height:48px;float:left;display:inline;margin-right:6px;}.opinfo a span{display:block;font-size:14px;color:#333;height:22px;line-height:22px;overflow:hidden;}.opinfo a:hover,.opinfo a:hover span{text-decoration:none;color:#ff5800;}.opinfo .kxx{position:absolute;left:53px;top:24px;width:60px;height:20px;line-height:20px;text-align:center;background:#7abf36;color:#fff;}.opinfo .kxx:hover{background:#90C45C;color:#fff;}

#comment-wrap {position:relative;top:0;left:0;margin-top:5px;}#comment-wrap .title .cmore{float:right;padding-right:15px;font-size:12px;text-decoration:underline;}
.main-hd {position:relative;height:30px;margin:-1px -1px 0;top:0;left:0;z-index:10;}
.main-bd {padding-left:8px;padding-right:0;padding:4px 20px 14px 15px;}
.main-tit{float:left;display:inline;font-size:16px;height:28px;line-height:28px;color:#000;font-weight:normal;padding:0 40px 0 15px;border-bottom:1px solid #3fb018;position:relative;bottom:-2px;margin-left:1px;}
.main-hd-r{padding-right:5px;height:30px;position:absolute;top:0;right:0px;}
#cmtGo-wrap{padding:4px 0px 0 0;}
#cmtGo-wrap a{height:23px;line-height:22px!important;line-height:24px;display:inline-block;text-indent:13px;}
#cmtGo-wrap a:hover{}
#comment{margin-left:5px;overflow:hidden;background-color:white;}
#comment em{font-style:normal;}
#comment-wrap{position:relative;*z-index:1000;top:0;left:0;}
#comment-list{position:relative;top:0;left:0;}
.cmtList{ margin-top:20px; text-indent:5px;color:#000;_zoom:1;}
.cmtList-user{line-height:24px;background:#f0fbeb;color:#090;}
.cmtList-floor{color:#f60;margin-right:5px;}
.cmtList-content{padding:15px 0 10px; line-height:21px;}
.cmtList-ft{width:40%;height:24px;padding-top:5px;border-top:1px dashed #ddd;color:#666;}
.cmtList-time{float:left; height:23px; line-height:26px; overflow:hidden;}
.cmtList-reply{cursor:pointer;float:left;margin:0 0 0 10px;}
#cmtNum{color:#f60; margin:0 2px;}
#hotCmt .cmtList{ padding:9px;margin-top:10px;_zoom:1; border:1px solid #FEC08F; background:#fff8d9 url(../images/zhiding.png) no-repeat top right;}
#hotCmt .q-content{background:#fff;}
#hotCmt .cmtList-user{background:#fff; margin-right:50px;}

#comment-form{margin:20px 0 0;width:99%;position:static;}
#userName-wrap,#glName-wrap{height:30px; background:url(../images/detail1.gif) 0 0 no-repeat;}
#userName,#glName{width:139px;padding:2px 3px 0px 5px; height:20px; line-height:20px; margin:1px 10px 0 42px;border:0 none;}
#cmtMsg,#glMsg{width:98%; padding:2px 4px;height:100px;font-size:12px; overflow:auto;}
#cmtMsg{width:835px;}
#cmtMsg.black{ color:#000;}
#subCmt{margin:5px 0 0 0;width:72px;height:23px;line-height:22px!important;line-height:24px;background:#FBA605;color:white;display:inline-block;border:none;cursor:pointer;}
#subCmt:hover{text-decoration:none;background:#ffb62e;}
#comment-form .seeAll{float:left;width:547px;padding-top:5px;}

#comment-list dd .q-content{border:none;margin:0;padding:0;background:#FCFCE8;color:#333;}
#comment-list dd .q-ft{text-align:left;padding:4px 0;}
#comment-list dd blockquote h4{font-size:12px;}

.hide{display:none;}
.glOverlay{position:fixed!important;position:absolute;top:0px;left:0;width:100%;height:100%!important;height:2500px; z-index:1000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);opacity:0.2;background:#000;float:left;}

#sendErr{ margin-right:2px; color:#090; text-decoration:underline; cursor:pointer;}
#sendErr:hover{ color:#f60;}
#glRep-btn{background:#FBA605;border:none;width:72px;height:23px;line-height:22px!important;color:#fff;display:inline-block;cursor:pointer;}
#glRep-btn:hover{text-decoration:none;background:#ffb62e;}
#writebug{ width:493px; height:90px; padding:2px 5px; overflow:auto; margin:5px 0;}
.closeSendErr{position:absolute;top:-5px; right:0; _right:18px; display:block; padding:0 5px; border:1px solid #e5e5e5; font-size:18px; line-height:24px; font-family:arial; color:#000; cursor:pointer;}
.tousu,.tiwen{ margin:0 4px;}

#down-info #sidebar {width:301px;float:right;display:inline;_position:relative;left:5px;_overflow:hidden;}
#down-info .side-box {width:300px;overflow:hidden;height:auto;}
#sidebar .ad {margin:0;}
#sidebar .tabTitle {width:300px;height:41px;line-height:40px;background:url(../images/ddd.gif) left bottom repeat-x;padding:0;border-left:1px solid #ddd;border-top:1px solid #ddd;}
.tabTitle li {font-size:16px;border-right:1px solid #ddd;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,arial;font-weight:normal;text-align:center;float:left;width:149px;height:41px;cursor:pointer;}
.tabTitle li.tab_2 {position:relative;border-top:3px solid #3fb118;margin-top:-3px;background:#fff;}
.tabTitle li h3 {text-align:center;cursor:pointer;font-size:16px;font-weight:normal;color:#222;}
#down-info #rank{overflow:visible;_overflow:hidden;}#rank .rank-list {padding:6px 9px 6px;width:281px;border:1px solid #ddd;border-top:none;}
.rank-list{padding:6px 9px 5px 9px;width:210px;overflow:hidden;background:url(../images/orank.gif) no-repeat 11px 11px;}.rank-list li{width:280px;height:35px;line-height:35px;overflow:hidden;text-indent:34px;border-bottom:1px dashed #f0f0f0;}
#down-info #necessary {margin:10px 0 0 0;width:301px;height:585px;background:url(../images/necessary.jpg) no-repeat -4px 0;}
#necessary h2{height:38px;line-height:38px;text-indent:19px;color:#222;font-weight:normal;font-size:18px;}
#necessary p{padding:0 0 0 30px;line-height:28px;}#necessary p a{float:left;width:90px;padding-top:63px;text-align:center;}
#other dt{padding-top:25px;}
#other dd a{padding-top:62px;height:28px;line-height:28px;width:90px;}

#recomc ul{padding:2px 0 2px 15px;height: 268px;overflow: hidden;}
#recomc li{width:126px;height: 125px;line-height:18px;float:left;overflow:hidden;margin:0 19px 10px 0;text-align:center;}
#recomc li img{width:80px;height:80px;display:block;margin:0 auto 5px auto;border-radius: 20%;}
#recomc .title a{float:right;font-size:12px;padding-right:15px;}

#images ul{padding:2px 0 10px 15px;}#images li{width:60px;height:72px;line-height:18px;float:left;overflow:hidden;margin:0 19px 10px 0;text-align:center;}#images li img{width:30px;height:30px;display:block;margin:0 auto 5px auto;}
#images .title a{float:right;font-size:12px;padding-right:15px;}

/*foot*/
#footer a {margin:0 5px;}
#footer p {margin:5px;}
#footer span {color:#369;font-weight:bold;}
#footer a.gotop {position:absolute;top:10px;right:20px;display:block;width:50px;height:30px;padding-top:32px;background:url(../images/go_top.png) 9px 5px no-repeat;text-align:center;}

#content .sfnw{border:1px solid #ddd;background:#f4f4f4;padding:10px 10px 10px 48px;font-size:12px;line-height:20px;}
.sfnw i{float:right;display:inline;height:80px;font-style:normal;}
.sfnw .dnow{display:block;width:102px;height:37px;background:url(../images/ljdown.gif) 0 0 no-repeat;text-indent:-9999px;margin-top:10px;}
.sfnw .dnow:hover{background-position:0 -37px;}
.sfnw a.pic{height:32px;line-height:32px;font-size:14px;padding:0 4px 0 0;display:inline-block;margin-left:-35px;}
.sfnw .pic img{float:left;display:inline;padding-right:4px;vertical-align:top;cursor:pointer;}
.sfnw .pic b{font-weight:bold;font-size:14px;margin:0;width:242px;height:32px;overflow:hidden;cursor:pointer;color:#0984C5;}
.sfnw  .pic:hover,.sfnw  .pic:hover b{text-decoration:none;color:#FF5800;}
.star0,.star1,.star2,.star3,.star4,.star5,.star6{background:url(../images/star.gif) no-repeat;width:128px;height:30px;display:inline-block;overflow:hidden;}
.star1{background-position:0 3px;}
.star2{background-position:0 -23px;}
.star3{background-position:0 -49px;}
.star4{background-position:0 -77px;}
.star5,.star6{background-position:0 -103px;} 

.ad2{width:650px;overflow:hidden;}
.bdfx{width:520px;overflow:hidden;position: relative;/* float: left; */}
/*20140125 k-jihe*/
#param-content:after,.xki:before,.xki:after,.xki dd ul:before,.xki dd ul:after{content:".";display:block;height:0;visibility:hidden;font-size:0;}
.xki:after,.xki dd ul:after{clear:both;}
.xki,.xki dd ul{*zoom:1;}/* IE < 8 */
#image-preview{position:absolute;z-index:1000;border:2px solid #9c6;padding:5px;background-color:#FAFAFA;}

#xgw{display:none;}#xgk,#xgd,#xgw,#xgb,#download,#comment-wrap,#xgw1{width:888px;}#xgk dd{padding:10px 10px 0px 10px;width:860px;margin-left:5px;background-color:#fff;border:1px solid #e7e7e7;border-top:0;position:relative;}#xgk em,#xgk i{font-style:normal;}
#xgk .xki dt{height:100px;overflow:hidden;line-height:23px;margin:0;background:0 none;border:0 none;text-indent:0;color:#999;}#xgk .xki dd{padding:0;width:auto;margin-left:0;background:0 none;border:0 none;position:static;}
#xgk .xki{position:relative;left:20px;width:860px;height: 259px;overflow:hidden;}#xgk .xki.gline{padding-top:14px;margin-top:2px;border-top:1px dotted #ddd;}#xgk .xki dt img{width:200px;height:100px;display:block;}.xki dt .img{width:200px;float:left;text-align:center;display:block;margin-right:9px;}.xki dt .img em{color:#999;padding-left:3px;}.xki dt a:hover em{text-decoration:none;}.xki dt p{color:#999;}.xki dt b{display:block;font-size:14px;color:#2A78B4;padding:5px 0 0 0;}.xki dt i{float:right;font-weight:normal;font-size:12px;}.xki dt .img:hover,.xki dt b a:hover,.xki dt i a:hover{color:#FF5800;}
#xgk .xki dd{position:absolute;width:855px;left:0px;top:112px;overflow:hidden;}#xgk .gline dd{top:122px;}#xgk .xki .prev,#xgk .xki .next{width:21px;height:27px;background:url(../images/arrGre1.gif) -31px 0 no-repeat;left:-1px;top:163px;cursor:pointer;}#xgk .xki .next{left:608px;background-position:0 0;}#xgk .xki .prev.hover{background-position:-62px 0;}#xgk .xki .next.hover{background-position:-96px 0;}
#xgk .xki dd ul{width:855px;max-height: 145px;overflow: hidden;}#xgk .xki dd li{width: 208px;margin:0 5px 7px 0;height: 67px;float:left;display:inline;overflow:hidden;position:relative;}#xgk .xki dd img{width: 62px;height: 62px;}#xgk .xki li .img{float:left;display:inline;width: 64px;margin-right:4px;}#xgk .xki li p{float:left;width:138px;overflow:hidden;}#xgk .xki p i{display:block;overflow:hidden;line-height: 30px;height: 32px;font-size: 12px;}#xgk .xki p a{display:block;overflow:hidden;line-height: 30px;height: 32px;font-size: 14px;}
#xgk .xki p i s{text-decoration:none;font-style:normal;color:#ccc;}#xgk .xki p i em{color:#f60;}#xgk .xki li p a{font-weight:600;color:#444;}
#xgk .xki p span{left:0;top:0;margin:2px 0;}#xgk .xki li .dBtn{width: 60px;height:20px;line-height:20px;background:#EAFEF3;border:1px solid #A6E7A7;color:#289613;position:absolute;top: 68px;left:0;text-align:center;}#xgk .xki li .dBtn:hover{background:#d7fce8;text-decoration:none;}
#xgk .title{margin-bottom:8px;}#xgk .title b{display:none;}#xgk .xki{display:none;}#xgk .on{display:block;}
.textList li{line-height:24px;height:24px;padding-left:15px;background:url(../images/greenDot.gif) no-repeat 6px 11px;}

#xgd,#xgw,#xgw1{padding-bottom:5px;}
#xgw li{clear:both;height:92px;margin:0 10px;padding:10px 0;border-bottom:1px dashed #eee;}#xgw img{width:140px;height:92px;float:left;display:inline;margin-right:4px;}#xgw div a{font-size:15px;height:32px;line-height:32px;font-weight:bold;}#xgw div i{font-style:normal;}#xgw div i span{color:#999;float:right;padding-left:18px;background:url(../images/syspr14.gif) -28px -763px no-repeat;position:relative;top:5px;}
#xgw1{padding-bottom:15px;}#xgw1 li{width:420px;padding-left:20px;float:left;height:26px;line-height:26px;font-size:14px;overflow:hidden;}

#xgb{padding-bottom:8px;}#xgb li{height:30px;line-height:30px;padding:3px 0;margin:0 20px 5px 20px;background:#f7f7f7;}#xgb li a{width:430px;height:30px;overflow:hidden;font-size:14px;padding:0 10px;float:left;}#xgb li s{width:60px;float:left;font-style:normal;}#xgb li span{width:135px;height:30px;float:left;}#xgb li i{width:45px;float:left;font-style:normal;}#xgb li .seem{width:74px;text-align:center;float:right;padding:0;background:#7abf36;color:#fff;}#xgb li .seem:hover{background:#90C45C;text-decoration:none;}

#xgd em,#xgd i{font-style:normal;}
#xgd ul,#company ul{padding-left:20px;max-height: 216px;overflow: hidden;}
#xgd li,#company li{width: 210px;margin:9px 5px 0 0;height: 96px;float:left;display:inline;overflow:hidden;position:relative;}#xgd li img,#company li img{width: 62px;height: 62px;border-radius: 20%;}#xgd li a.img,#company li a.img{float:left;display:inline;width: 64px;margin-right:4px;}#xgd li p,#company li p{float:left;width:138px;overflow:hidden;}#xgd li p a,#company li p a{font-weight:600;color:#444;}#xgd li p a,#company li p a{display:block;overflow:hidden;line-height: 30px;height: 32px;font-size:14px;}#xgd li p i,#company li p i{display:block;overflow:hidden;line-height: 30px;height: 32px;font-size:12px;}
#xgd li p i s,#company li p i s{text-decoration:none;font-style:normal;color:#ccc;}#xgd li p i em,#company li p i em{color:#f60;}
#xgd li p span,#company li p span{left:0;top:0;margin:2px 0;}#xgd li .dBtn,#company li .dBtn{width: 60px;height:20px;line-height:20px;background:#EAFEF3;border:1px solid #A6E7A7;color:#289613;position:absolute;top: 68px;left:0;text-align:center;}#xgd li .dBtn:hover,#company li .dBtn:hover{background:#d7fce8;text-decoration:none;}

#company ul{padding-bottom:5px}

#recomc2 ul{padding:2px 0 2px 15px;}

#recomc2 .title a{float:right;font-size:12px;padding-right:15px;}
#recomc2 em,#recomc2 i{font-style:normal;}
#recomc2 ul{padding-left:20px;}
#recomc2  li{width:168px;margin:9px 5px 0 0;height:66px;float:left;display:inline;overflow:hidden;position:relative;}#recomc2 li img{width:32px;height:32px;}#recomc2 li a.img{float:left;display:inline;width:32px;margin-right:4px;}#recomc2 li p{float:left;width:114px;overflow:hidden;}#recomc2 li p a,#recomc2 li p i{display:block;overflow:hidden;line-height:20px;height:20px;}#recomc2 li p i s{text-decoration:none;font-style:normal;color:#ccc;}#recomc2 li p i em{color:#f60;}
#recomc2 li p span{left:0;top:0;margin:2px 0;}#recomc2 li .dBtn{width:32px;height:20px;line-height:20px;background:#EAFEF3;border:1px solid #A6E7A7;color:#289613;position:absolute;top:38px;left:0;text-align:center;}#recomc2 li .dBtn:hover{background:#d7fce8;text-decoration:none;}


/*fix comment*/
#comment #comment-list dd p .glBtn{background:#7abf36;position:relative;top:7px;top:0px\9;}
#comment #comment-list dd p .glBtn:hover{background:#90C45C;}

#footer{position:relative;}#footer a.gotop{position:absolute;top:10px;right:20px;display:block;width:50px;height:30px;padding-top:32px;background:url(../images/go_top.gif) 11px 5px no-repeat;text-align:center;}#footer a.gotop:hover{background-position:-28px 5px;}

#footer{position:relative;}#footer a.gotop{position:absolute;top:10px;right:20px;display:block;width:50px;height:30px;padding-top:32px;background:url(../images/go_top.gif) 11px 5px no-repeat;text-align:center;}#footer a.gotop:hover{background-position:-28px 5px;}
#gotoBox{display:none;position:fixed;top:310px;left: 50%;cursor:pointer;margin-top:-50px;margin-left: 277px;_margin-left:172px;width:22px;height:151px;background:url(../images/top1.jpg) 0 0 no-repeat;}
#gotoBox{_position:absolute;_top:expression(documentElement.scrollTop + 200 + "px")}
#gotoBox i,#gotoBox s{display:block;height:75px;}
#autotab{display:none;/* position:fixed; *//* top:320px; *//* left:60%; *//* cursor:pointer; *//* margin-top:-50px; *//* margin-left:220px; */position: fixed;top: 320px;left: 50%;cursor: pointer;margin-top: -50px;margin-left: 290px;}
#autotab{_position:absolute;_top:expression(documentElement.scrollTop + 200 + "px")}
#autotab li{cursor:pointer;line-height:32px;font-size:14px;padding-left:30px;background:url(../images/autotab.jpg) 0 -96px no-repeat;}
#autotab .cur{color:#390;background-position:0 -48px;}#autotab .fir{background-position:0 0;}#autotab .nota{background-position:0 -142px;}

/*guangzhuwomen*/
#gzwm{margin-top:10px;padding:0 9px 10px 9px;width:281px;border:1px solid #ddd;}#gzwm dt{font-family:\5fae\8f6f\96c5\9ed1,arial;height:38px;line-height:38px;border-bottom:1px solid #ddd;text-indent:4px;font-size:18px;color:#222;}
#gzwm dd p{padding:10px 0 0 0;font-size:14px;}#gzwm dd .fl{float:left;display:inline;margin-right:10px;}#gzwm img{width:48px;height:48px;}#gzwm dd p i{display:block;width:220px;float:left;font-style:normal;}#gzwm dd p i b{display:block;font-weight:normal;padding-bottom:3px;color:#222;}
#sewm{position:relative;}#sewm span img{width:168px;height:168px;border:5px solid #eee;display:none;left:86px;top:-144px;position:absolute;}#sewm.hover span img{display:block;}

.gaosuxiazai{/*height:28px;*/}


#hotsoft{margin-top:10px;padding:0 9px 10px 9px;border:1px solid #ddd;}
#hotsoft dt{font-family:\5fae\8f6f\96c5\9ed1,arial;height:38px;line-height:38px;border-bottom:1px solid #ddd;border-left:3px solid #3fb018;text-indent:4px;font-size:18px;color:#222;}


#hotsoft {
	text-align:center;
	line-height:24px;
}
#hotsoft dd {
	width:80px;
	padding-right:15px;
	float:left;
}
#hotsoft dd p,#hotsoft dd h3 {
	font-size:13px;
	font-weight:normal;
	height:20px;
	overflow:hidden;
}
.img-box img {
	margin-bottom:5px;
	display:block;
	float:left;
}


dl #hotsoft {
	padding:3px 10px 5px;
	margin-bottom:-6px;
	text-align:left;
	overflow:hidden;
}
dl #hotsoft dd {
	width:100%;
	padding:3px 0;
	border-bottom:1px dashed #EFEFEF;
}
dl #hotsoft .img-box img {
	margin:3px 10px 0 0;
}
dl #hotsoft dd p {
	color:#666;
}
dl #hotsoft dd p i {
	color:#CDCDCD;
	padding:0 3px;
}
dl #hotsoft dd p em {
	font-weight:bold;
	color:#ff9f15;
}
/* 20120221 */


#screen_show { padding: 10px 0; margin overflow:hidden; text-align:center;}
#screen_show img {border:0px solid #ccc; padding:0px;}
#screen_show  div { height:0; overflow:hidden;}
#screen_show  .picbox_0 {  height:auto;}

.screen_control { position:absolute; right:0; top:0;}
.screen_control .count { font-family:arial;color:#666; margin-left:5px; }
.screen_control .count b {  font-weight:normal;}
.screen_control .count i { font-style:normal; }
.screen_control { padding: 0 15px 10px;  text-align:center; overflow:hidden;}  
.screen_control a { color:#2F73B1; text-decoration:underline; margin-left:10px;}
.screen_control .disable,
.screen_control .disable:hover { color:#999; cursor:default;}

.view_panel { text-align:center; padding-bottom:0px; position:relative; margin:0 0px; }
.bigview { padding-bottom:10px; display:inline;}


em,i {
	font-style:normal;
	font-weight:normal;
}



.newss {
	overflow:hidden;
}
.newss .mod-img-list {
	padding:3px 10px 5px;
	margin-bottom:-6px;
	text-align:left;
	overflow:hidden;
}
.newss .mod-img-list li {
	width:100%;
	padding:3px 0;
	border-bottom:1px dashed #EFEFEF;
}
.newss .mod-img-list .img-box img {
	margin:3px 10px 0 0;
}
.newss .mod-img-list p {
	color:#666;
	font-size: 12px;
}
.newss .mod-img-list p i {
	color:#CDCDCD;
	padding:0 3px;
}
.newss .mod-img-list p em {
	font-weight:bold;
	color:#ff9f15;
}

.mod-img-list {
	text-align:center;
	line-height:20px;
}
.mod-img-list li {
	width:80px;
	padding-right:15px;
	float:left;
}
.mod-img-list li p,.mod-img-list li h3 {
	font-size:14px;
	font-weight:normal;
	height:20px;
	overflow:hidden;
}
.img-box img {
	margin-bottom:5px;
	display:block;
}
li.gw {
    width: 450px;
}

#xzbtn{padding-left: 10px;margin-top: 5px;}#xzbtn a,#xzbtn span{float:left;display:inline;width:182px;height:75px;line-height:72px;padding-left:68px;font-size:26px;font-weight:700;color:#fff;background:url(../images/softspr.png) 0 -84px no-repeat;margin-right:20px;*margin-right:15px}#xzbtn .downnow{margin:0;background-position:0 0;display: none;}#xzbtn a:hover{background-position:-24px -252px;text-decoration:none}#xzbtn .downnow:hover{background-position:-24px -168px}#xzbtn .nobtn{background:#ccc url(../images/off.png) 52px 18px no-repeat;font:24px/1.5 \5fae\8f6f\96c5\9ed1,\5b8b\4f53,arial;color:#fff;line-height:75px;width:142px;padding-left:108px}#xzbtn a{position:relative}#xzbtn a b,#xzbtn a i{font-weight:400;position:absolute;display:block;height:30px;line-height:30px;top:12px}#xzbtn a i{font-style:normal;font-size:12px;top:38px}#xzbtn .bendown{background:#eee;color:#676767;width:182px;padding-left:40px;}#xzbtn .bendown b{font-weight:400;line-height:50px;font-size:20px;top:10px}#xzbtn .bendown i{display:none;padding-top: 5px;}#xzbtn .gomall{background-position:0 -376px}#xzbtn .gomall:hover{background-position:0 -464px}
#xzbtn:after,#param-content:after,#param:after{content:".";display:block;height:0;visibility:hidden;font-size:0;}
#param-content a.apple, #param-content a.az{
    font-weight: 400;
    background: #1ec456;
    border-radius: 5px;
    text-decoration: none;
    line-height:56px;
}
#xzbtn a.apple b,#xzbtn a.az b{
top: 20px;

}
#xzbtn a.apple>i {width: 40px;height: 40px;position: absolute;left: 12px;top: 19px;background: url(../images/downios.png) no-repeat 7px -44px;background-size: 40px;}
#xzbtn a.az>i {width: 40px;height: 40px;position: absolute;left: 12px;top: 19px;background: url(../images/downios.png) no-repeat 7px -5px;background-size: 40px;}



.fxdz{
    height: 50px;
}


.c_soft_button {overflow: inherit!important;}
#good_or_bad{ position: relative; }
.g-hpopBox{position: absolute;height: 271px;width:433px;background: #FFFFFF;z-index: 9999;left: 235px;top:-260px;border: 2px solid #E8E8E8;padding: 15px 15px 5px 15px;box-shadow: 0px 0px 8px 1px rgba(0,0,0,.16); font-weight: normal; font-size: 16px}
.g-tips{ overflow: hidden;position: relative;padding-right: 30px;border-bottom: 1px solid #E0E0E0;}
.g-tips p{  overflow: hidden;line-height: 24px !important;padding-bottom: 10px !important; color: #666!important; text-align: left !important; margin: 0px !important; padding-top:0 !important; font-size: 14px!important;font-weight: 400important;  }
.g-tips p:first-letter {font-size:14px!important; } 
.g-tips a.f-close{position: absolute; right: 0px; top: 0px;width: 18px;height: 18px;background: url(../images/downdetail-close.png) no-repeat -5px -5px;}
.g-tips a.f-close:hover{background: url(../images/downdetail-close.png) no-repeat -35px -5px;}
.g-input-cont { padding:5px 0px 5px 0px; overflow: hidden; }
.g-input-cont p{ padding: 5px 0px 10px 0px !important; overflow: hidden; margin: 0 !important }
.g-input-cont span{display: block;float: left;color: #999;margin-right: 25px; font-size: 14px; font-weight: normal;}
.g-input-cont span em {display: block;float: left;margin-right: 5px;_margin-top: -4px;height: 19px;}
.g-input-cont span em input{ }
.g-input-cont span font{ display: inline-block; height: 28px; line-height: 28px;padding-right:12px;  }
.g-input-cont input.m-txt-phone{ overflow: hidden;border:1px solid #c9c9c9; height: 26px; line-height: 26px; padding: 0px; margin: 0px; text-indent: 6px;border-radius: 3px; color: #666666;}
.g-plTextaera textarea {height:52px;border: 1px solid #E0E0E0;font-size: 14px;color: #666666; line-height: 26px;border-radius: 3px; width: 100%;}
.g-plSubmit{ margin: 10px auto;text-align: center; overflow: hidden; }
.submit1{ background: #41B80F;border: 0px;padding: 0px;color: #fff;width: 160px;border-radius: 3px;height: 34px; cursor: pointer;}

iframe#down1{display:none;}

.art-dl-az-info {
	padding-bottom: 10px;
}
.art-dl-az-info img {
	float: left;
	width: 60px;
	height: 60px;
}
.art-dl-az-info .info {
	margin-left: 70px;
	padding-right: 10px;
}
.art-dl-az-info .info .txt {
	font-size: 15px;
	margin-bottom: 10px;
	color:#333;
	font-weight: bold;
	}
.art-dl-az-info .info .btn {
	font-size: 14px;
	color: #333;
width: 78px;
	height: 25px;
	border: 1px solid #ededed;
	display: block;
	text-align: center;
	line-height: 25px;
}
#download .pname,#download .md5{padding:0 0 5px 35px;}



.good_or_bad{display:block;width:100%; height:40px; overflow: hidden; }
.good_or_bad a{float: left;}
.good_or_bad a.is_bad { margin: 4px 0px 10px 15px;}
.good_or_bad{overflow: hidden;margin-left: 10px;/* height: 75px; */padding-top: 3px;}
.good_or_bad a{height: 28px; display: block;}
.good_or_bad a b{float:left;background: url(../images/down_detailimg.png) no-repeat;height: 28px;width: 87px;display: block;font-weight: normal;font-size: 14px;line-height: 28px;text-indent: 43px;}
.good_or_bad a span{width:76px;display: block; float: left; margin-left:10px; height: 12px;background: #f2f2f2; margin-top:8px;}
.good_or_bad a.is_good{ margin:4px 0px 10px 0px;   }
.good_or_bad a.is_good b{ background-position: 0px -102px; color: #ff6160;}
.good_or_bad a.is_good em{color: #ff6160;}
.good_or_bad a.is_good i{ }
.good_or_bad a.is_bad i{ } 
.good_or_bad a.is_bad em{color: #b2b2b2;}
.good_or_bad a.is_bad b{background-position: 0px -143px; color: #b2b2b2; }
.good_or_bad a i{height: 12px; display: block; overflow: hidden;}
.good_or_bad a em{display: block;float: left;margin-left:10px;height: 28px;line-height: 28px;font-size: 14px;}
.good_or_bad a img{height:auto}
.bjhf{background-color:#fbfcfc;border:1px solid #eaeaea; border-left:2px solid #e0e6e9; font-size:14px; padding:10px 15px; margin:5px 0; }
.bjhf span{font-weight:bold; color:#ed0006}

.clear:before,.clear:after{content:".";display:block;height:0;visibility:hidden;font-size:0;}
.clear:after{clear:both;}

#othdl{margin: 2px 0 8px 8px;}
#othdl a {
    border-left: #ddd 1px solid;
    display: inline-block;
    padding-left: 30px;
    color: #999;
    background: url(../images/kicon.png) 10px 4px no-repeat;
    margin: 0 0 0 10px;
}
#othdl .othaz {
    background-position: 10px -18px;
}
#othdl .othipo {
    background-position: 10px -40px;
}
#othdl .othmac {
    background-position: 10px -62px;
}
#othdl .othlinx {
    background-position: 10px -101px;
}
#othdl .othpc {
    background-position: 10px 5px;
}
#othdl a:first-child {
    border: 0;
    margin: 0;
    padding-left: 30px;
    margin-left:-10px;
}
.f-fl{float:left;}
.ad{margin-top:10px;}
#company .title span{
    display: inline-block;
    position: relative;
    top: -2px;
    /* width: 76px; */
    padding-right: 15px;
    text-align: center;
    cursor: pointer;
}
#company .title span.on{
    color: #289613;
}

.title a.more{float:right;margin-right:10px}